.title{
    text-align: center;

}

.counter-value{
    text-align: center;
    font-size: 150px;
}

 .botoes{
    text-align: center;
}

.botoes .botao{
    text-align: center;
    font-size: 30px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.botoes .reiniciar{
    text-align: center;
    font-size: 30px;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}